--
-- PostgreSQL database dump
--

\restrict sqNDXd5BNp92yZdR6rtt3MpUISKHChaGYcRhIFg8GcDRStzFRksIfNtVuq7Er18

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: booking_units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking_units (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    item_id uuid NOT NULL,
    label text NOT NULL,
    unit_status text DEFAULT 'ACTIVE'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT booking_units_unit_status_check CHECK ((unit_status = ANY (ARRAY['ACTIVE'::text, 'MAINTENANCE'::text, 'RETIRED'::text])))
);


ALTER TABLE public.booking_units OWNER TO postgres;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    unit_id uuid NOT NULL,
    renter_id uuid NOT NULL,
    booked_period tstzrange NOT NULL,
    status text DEFAULT 'REQUESTED'::text NOT NULL,
    deposit_status text DEFAULT 'HELD'::text NOT NULL,
    requested_at timestamp with time zone DEFAULT now() NOT NULL,
    responded_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT bookings_deposit_status_check CHECK ((deposit_status = ANY (ARRAY['HELD'::text, 'RELEASED'::text, 'PARTIALLY_CLAIMED'::text, 'FULLY_CLAIMED'::text]))),
    CONSTRAINT bookings_status_check CHECK ((status = ANY (ARRAY['REQUESTED'::text, 'APPROVED'::text, 'REJECTED'::text, 'EXPIRED'::text, 'CONFIRMED'::text, 'PICKED_UP'::text, 'COMPLETED'::text, 'DISPUTED'::text])))
);


ALTER TABLE public.bookings OWNER TO postgres;

--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    title character varying(150) NOT NULL,
    description text NOT NULL,
    category character varying(50) NOT NULL,
    price numeric(10,2) NOT NULL,
    rental_unit character varying(10) NOT NULL,
    images text[] DEFAULT '{}'::text[],
    listing_status character varying(20) DEFAULT 'PENDING_REVIEW'::character varying NOT NULL,
    rejection_reason text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    step_increment interval DEFAULT '00:30:00'::interval NOT NULL,
    buffer_duration interval DEFAULT '00:00:00'::interval NOT NULL,
    CONSTRAINT items_category_check CHECK (((category)::text = ANY ((ARRAY['Cameras'::character varying, 'Tools'::character varying, 'Gaming'::character varying, 'Vehicles'::character varying, 'Electronics'::character varying, 'Other'::character varying])::text[]))),
    CONSTRAINT items_listing_status_check CHECK (((listing_status)::text = ANY ((ARRAY['PENDING_REVIEW'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[]))),
    CONSTRAINT items_price_check CHECK ((price > (0)::numeric)),
    CONSTRAINT items_rental_unit_check CHECK (((rental_unit)::text = ANY ((ARRAY['HOURLY'::character varying, 'DAILY'::character varying])::text[])))
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    is_admin boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: booking_units booking_units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_units
    ADD CONSTRAINT booking_units_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: bookings no_overlapping_bookings; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT no_overlapping_bookings EXCLUDE USING gist (unit_id WITH =, booked_period WITH &&) WHERE ((status = ANY (ARRAY['REQUESTED'::text, 'APPROVED'::text, 'CONFIRMED'::text, 'PICKED_UP'::text])));


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_booking_units_item_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_booking_units_item_id ON public.booking_units USING btree (item_id);


--
-- Name: idx_bookings_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_status ON public.bookings USING btree (status);


--
-- Name: idx_bookings_unit_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bookings_unit_id ON public.bookings USING btree (unit_id);


--
-- Name: idx_items_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_items_category ON public.items USING btree (category);


--
-- Name: idx_items_listing_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_items_listing_status ON public.items USING btree (listing_status);


--
-- Name: booking_units booking_units_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking_units
    ADD CONSTRAINT booking_units_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id) ON DELETE RESTRICT;


--
-- Name: bookings bookings_renter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_renter_id_fkey FOREIGN KEY (renter_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: bookings bookings_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.booking_units(id) ON DELETE RESTRICT;


--
-- Name: items items_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict sqNDXd5BNp92yZdR6rtt3MpUISKHChaGYcRhIFg8GcDRStzFRksIfNtVuq7Er18

